.footer__container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}